@media (max-width:900px){
    .header__burger-btn{
        display: flex;
        z-index: 99999;
    }
    .menu{
        height: 100%;
        position: absolute;
        left: -350px;
        top: 0;
        width: 350px;
        background-color: black;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
    }
    .menu__list{
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-top: 15px;
    }
    .header.open .menu{
        transform: translateX(100%);
    }
    .header-text{
        margin-top: 300px;
    }
}
@media (max-width:870px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-col-2 h1{
        text-align: center;
    }
    .sub-title{
        text-align: center;
    }
    .tab-titles{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services-list{
        display: flex;
        flex-direction: column;
    }
    .work-list{
        gap: 15px;
        display: flex;
        flex-direction: column;
    }
    .layer{
        display: none;
    }
    .contact-left{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width:575px){
    .about-col-2{
        width: 100%;
    }
    .sub-title {
        font-size: 40px;
        font-weight: 600;
        color: #fff;
    }
    .about-col-2 p{
        font-size: 20px;
    }
        .tab-links {
            margin-right: 10px;
    }
}
@media (max-width:475px){
.header-text h1{
        font-size: 50px;
    }
    .about-col-2 {
        flex-basis: 50%;
    }
    .about-col-2 p{
        padding: 2px;
    }
}
@media (max-width:425px){
    .header-text h1{
            font-size: 30px;
        }
        .header-text p{
            font-size: 18px;
        }
}